
! define !

#define cfg #cadddd
#define cbg #282828
#define ccurs #cadddd

#define cbgalt #3d3d3d
#define cblack #000000
#define cbgdark #1D1D1D

!solarized dark main color
!#define c00 #00181f
!#define c08 #657b83
!#define c09 #dc322f
!#define c10 #859900
!#define c11 #b58900
!#define c12 #268bd2
!#define c13 #6c71c4
!#define c14 #2aa198
!#define c07 #93a1a1
!#define c15 #fdf6e3

!custom
#define c00 #00181f
#define c08 #657b83
#define c09 #dc322f
#define c01 #fb4934
#define c10 #859900
#define c02 #b8bb26
#define c11 #b58900
#define c03 #fabd2f
#define c12 #268bd2
#define c04 #93c7eb
#define c13 #6c71c4
#define c05 #a4a7db
#define c14 #2aa198
#define c06 #71dad2
#define c07 #93a1a1
#define c15 #fdf6e3

! special colors
*.foreground:  cfg
!*.background: cblack
*.background: cbgdark
*.background2: cbg
*.cursorColor:  ccurs
! black
*.color0:      c00
*.color8:      c08
! red
*.color1:      c01
*.color9:      c09
! green
*.color2:      c02
*.color10:     c10
! yellow
*.color3:      c03
*.color11:     c11
! blue
*.color4:      c04
*.color12:     c12
! magenta
*.color5:      c05
*.color13:     c13
! cyan
*.color6:      c06
*.color14:     c14
! white
*.color7:      c07
*.color15:     c15

URxvt.perl-ext-common:-confirm-paste
URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

!use picom for transparency
!URxvt*transparent:       true
!URxvt*shading:       2
!URxvt.letterSpace: 0
!URxvt.font: xft:Liberation Mono:pixelsize=22
URxvt.font: xft:Liberation Mono:pixelsize=24
URxvt.letterSpace: 0

*antialias:  true
*autohint:   false

!=== Rofi ===

rofi.modi:                           window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       urxvt
rofi.opacity:                        100
rofi.width:                          50
rofi.lines:                          8
rofi.columns:                        1
rofi.font:                           Inconsolata 24

! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: cbg,  #FFFFFF,  cbg,  c10,  #FFFFFF

!                  'background', 'border'
rofi.color-window: cbg,      cbgalt
rofi.bw:                             10
rofi.location:                       0
rofi.padding:                        20
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8



